#profile {
    min-height: 100vh;
}

.profile-content {
    margin-top: 250px;
    margin-inline: auto;
    border-block: 1px solid var(--colour-primary-grey-5);
    display: flex;
    gap: 2em;
    padding-block: 2em;
    width: calc(100% - (var(--content-margin) * 2));
    max-width: 1500px;
}

.person-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.person-name {
    font-size: 3em;
    font-weight: var(--text-weight-regular);
}

.person-role {
    font-size: 1.2em;
    font-weight: var(--text-weight-regular);
    color: var(--colour-secondary-1);
    margin-top: 5px;
    font-family: 'Source Sans Pro', sans-serif;
}

.person-location {
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: var(--text-weight-light);
    font-style: italic;
}

.person-bio {
    margin-top: 25px;
}

.articles {
    width: calc(100% - (var(--content-margin) * 2));
    max-width: 1500px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-bottom: 100px;
}

.latest {
    font-size: 1em;
    padding-top: 30px;
    color: var(--colour-primary-grey-5);
    text-align: center;
}

@media screen and (max-width: 800px) {
    .profile-content {
        margin-top: 100px;
    }
}

@media screen and (max-width: 625px) {
    .profile-content {
        flex-direction: column;
    }
}

@media screen and (max-width: 525px) {
    .person-name {
        font-size: 2em;
    }
    .person-role {
        font-size: 1em;
    }
    .person-location {
        font-size: 0.8em;
    }
    .person-bio {
        font-size: 1em;
    }
}