#post {
    min-height: 100vh;
}

.post-container {
    width: calc(100% - (var(--content-margin) * 4));
    min-height: 100vh;
    max-width: 1500px;
    margin-inline: auto;
    margin-block: 125px;
}

.title-image {
    width: 100%;
    height: 450px;
    border-radius: 25px;
    object-fit: cover;
}

.post-container h1 {
    width: 95%;
    margin-inline: auto;
    font-size: 3em;
    margin-block: 50px;
}

.post-details-wrapper {
    border-block: 2px solid var(--colour-primary-grey-4);
    width: 100%;
}

.post-details {
    width: 95%;
    margin-inline: auto;
    margin-block: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.post-body {
    position: relative;
    width: 95%;
    margin-inline: auto;
    margin-block: 50px;
    z-index: 2;
}

.post-h1 {
    width: unset !important;
}

.post-body ul, .post-body ol {
    margin-left: 40px;
    margin-block: 40px;
}

.post-body li p {
    margin-block: 10px;
    margin-inline: 15px;
}

.post-block-quote {
    width: 90%;
    margin-inline: auto;
    padding-inline: 50px;
    border-left: 4px solid var(--colour-secondary-1) !important;
}

.post-link {
    position: relative;
    color: var(--colour-secondary-1);
    font-weight: var(--text-weight-bold);
    text-decoration: none;
    z-index: 2;
}

.post-link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background: var(--colour-secondary-1);
    transition: var(--animation-duration-fast);
}

.post-link:hover:after {
    width: 100%;
}

.post-paragraph {
    font-size: 1.25em;
    font-weight: var(--text-weight-light);
    line-height: 160%;
    letter-spacing: 0.05em;
    margin-block: 50px;
}

.post-image {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 90%;
    max-height: 600px !important;
    border-radius: unset !important;
    margin-bottom: 50px;
    object-fit: cover;
}

@media screen and (max-width: 1250px) {
    .post-container {
        width: calc(100% - (var(--content-margin) * 2));
    }
    .post-container img {
        height: 300px;
    }
}

@media screen and (max-width: 750px) {
    .post-container {
        width: 90%;
    }
    .post-container img {
        height: 250px;
    }
}

@media screen and (max-width: 500px) {
    .post-details {
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
    }
}