#well-being {
    min-height: 100vh;
    margin-bottom: max(5vh, 100px);
    display: flex;
    align-items: center;
}

.well-being-content {
    max-height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: calc(100% - (var(--content-margin) * 2));
    margin-inline: auto;
    justify-content: space-around;
}

.well-being-left {
    max-width: min-content;
}

.well-being-left img {
    height: 700px;
    display: inline-block;
}

.well-being-right {
    max-height: 45em;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.well-being-right p {
    max-width: 375px;
    margin-left: calc(1.25em + 4px);
    letter-spacing: 0.03em;
    padding-block: 10px;
}

.well-being-right p:nth-child(3) {
    color: var(--colour-secondary-1);
    font-style: italic;
}

#well-being .header p {
    margin-left: unset;
    max-width: unset;
    padding-bottom: unset;
}

#well-being .header {
    margin-bottom: 50px;
}

@media screen and (max-width: 1600px) {
    .well-being-content {
        justify-content: space-between;
    }
}

@media screen and (max-width: 1400px) {
    .well-being-left img {
        height: 550px;
    }
}

@media screen and (max-width: 1150px) {
    #well-being {
        margin-top: 10vh;
    }
    .well-being-content {
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
        max-height: unset;
    }
    .well-being-left img {
        display: none;
    }
    .well-being-left {
        min-width: 100%;
        min-height: 400px;
        margin-bottom: 50px;
        background: url('../../../../assets/images/png/well-being-no-text-full.png');
        background-size: cover;
        background-position: center;
        border-radius: 25px;
        overflow: hidden;
    }
    .header {
        margin-bottom: 20px;
    }
    .well-being-right,
    .well-being-right p {
        width: unset;
        max-width: unset;
        max-height: unset;
    }
}

@media screen and (max-width: 1150px) {
    .well-being-right p {
        max-width: unset;
        margin-left: unset;
    }
}