#think {
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7em;
    position: relative;
}

.think-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    filter: saturate(0) opacity(50%);
    scale: 0.7;
    transition: var(--animation-duration-medium);
    padding-inline: 1.5em;
    z-index: 2;
}

.think-content h1 {
    font-size: 4.3em;
}

.think-content h3 {
    font-size: 1.2em;
    letter-spacing: 0.02em;
    opacity: 0;
    transition: 100ms;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: var(--text-weight-regular);
}

.think-content.active {
    filter: unset;
    scale: 1;
}

#think .a.background-ball {
    --width: 5.5em;
    --top: 70%;
    --left: 15%;
    transform: translate(-40%, -50%) rotate(38deg);
}

#think .b.background-ball {
    --right: 10%;
    --bottom: 0;
    transform: translateY(100%) rotate(81deg);
}


.line-1{
    position: relative;
    opacity: 1 !important;
    max-width: fit-content;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

/* Animation */
.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 1000ms steps(44) infinite normal;
}

@keyframes typewriter{
    from{width: 0;}
    to {width: 100%;}
}
@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}

@media screen and (max-width: 750px) {
    .think-content {
        gap: 1em;
    }
    .think-content h1 {
        font-size: 3em;
    }
    .think-content h3 {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 450px) {
    .think-content h1 {
        font-size: 2.5em;
    }
    .anim-typewriter {
        all: unset;
    }
}
